* {
  box-sizing: border-box;
}
body {
  background-image: url("./background-img.jpg");
  margin: 0 auto;
  padding: 10px;
}

.timer-container {
  display: flex;
  height: 30px;
  margin-left: 20px;
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
}

.timer {
  font-size: 22px;
  margin: 10px auto, 0;
  padding: 5px;
}

header {
  min-width:400px;
  margin: 0 auto;
  margin-top: 50px;
  width: 50%;
  text-align: center;
}

h1 {
  color: orange;
  font-size: 45px;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
 
}

button {
   background-color: green;
   color: white;
   font-size: 24px;
   padding: 10px 40px;
   border-radius: 10px;
}
button:hover {
  color: black;
  background-color: lightgreen;
  
}

.category-display {
  color: pink;
  padding-top: 20px;
  margin-top:30px;
  margin-bottom: 0;
  padding: 10px;
  padding-bottom: 0;
  font-size: 20px;
}

.input-container {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.blanks-container {
  color: white;
  margin-top: 40px;
}

.blanks {
  border-bottom: 2px solid white;
  margin: 5px;
  width: 20px;
  padding: 7px;
  font-size: 25px;
}

/* div for holding incorrect letters */
.incorrect {
  margin-top: 30px;
  margin-bottom: 0;
  width: 40%;
  font-size:25px;
  color: tomato;
}

/* line that displays winning or loosing status */
p {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 0;
  color: pink;
  font-size: 22px;
}

input {
  background-color: lightgray;
  padding: 10px;
  font-size: 20px;
  margin-top: 0;
  width: 80px;
  border: 2px solid green;
  border-radius: 5px;;
}
